<!-- <div class="w-full sm:w-auto px-2 py-2 transition-colors cursor-pointer bg-red-500">
    <select [formField]="myform">
        @for (i of types; track i.title) {
        <option (change)="setStatusParam(i.value)" [value]="i.value">{{i.title}}</option>
        }
    </select>
</div> -->


<div class="w-full sm:w-auto px-2 py-2 transition-colors cursor-pointer rounded bg-red-500">
    @for (i of types; track i.title) {
    <div>
        <input type="radio" [value]="i.value" [formField]="myform" (click)="setStatusParam(i.value)"/>
        <label>{{i.title}}</label>
    </div>
    }

</div>

