<div class="flex justify-center items-center">
    <div>
        <button
            [disabled]="currentPage() ===1"
            class="cursor-pointer flex text-black font-bold m-1 md:m-2 lg:m-3 px-2 py-1 rounded shadow-2xs hover:bg-gray-100 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chevron-left-icon lucide-chevron-left block">
                <path d="m15 18-6-6 6-6" />
            </svg>

            Prev
        </button>
    </div>
    @for (pages of getPages(); track pages) {
    <button
        (click)="setActivePage(pages)" 
        class="cursor-pointer text-black font-bold m-1 md:m-2 lg:m-3 px-2 py-1 rounded shadow-2xs hover:bg-gray-100 " [class.bg-red-500]="pages === currentPage()">{{pages}}</button>
    }
    <div>
        <button 
            class="cursor-pointer flex text-black font-bold m-1 md:m-2 lg:m-3 px-2 py-1 rounded shadow-2xs hover:bg-gray-100 ">
            Next
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chevron-right-icon lucide-chevron-right">
                <path d="m9 18 6-6-6-6" />
            </svg>
        </button>
    </div>
</div>